form > button {
  border: none;
  border-radius: $border-radius;
  color: black;
  font-size: 16px;
  margin: 14px;
  padding: 10px 20px;
}

button:hover {
  background: gray;
  color: white;
  @include btn(none, none);
}

button:active {
  border: none;
  outline: none;
}

button.card-btn-book-room:disabled {
  cursor: default;
  outline: none;
  color: white;
  font-weight: bolder;
}

button:disabled {
  color: gray;
  cursor: default;
  outline: none;
}

button {
  @include btn(none, none);
}

.bookedBtn {
  outline: 1px gray solid;
  color: white;
  font-weight: bolder;
  width: 89px;
  border-radius: $border-radius;
  background-color: #1ac7f5;
}

.btn {
  background: white;
  opacity: 0.8;
  border-radius: $border-radius;
}

button, .radio-filter label:hover {
  cursor: pointer;
}

.nav-btn {
  background: none;
  color: black;
  margin: 10px 5px 7px 10px;
}

#user-reset-btn {
  width: 70px;
  align-self: center;
  @include aside-small-btns(5px, 5px);
}

#search-btn-box {
  @include aside-small-btns(0 0 20px 0, 5px);
  border-bottom: $border-line;
}

.search-btns {
  @include aside-small-btns(12px 0 12px 0, 5px)
  // margin: $aside-small-btns;
}

#mgr-add-booking-btn {
  // margin-top: 20px;
}

.mgr-card-btn {
  padding: 0 10px;
}
