/* This is an example of using Sass, otherwise plain CSS works too*/
$transparent-background: rgba(255, 255, 255, 0.67);

body {
  background:  url(../images/srilanka.jpg);
  object-fit: cover;

}

.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  height: 9vw;
  background: $transparent-background;
  border-radius: 5px;
  text-align: center;
  height: 100px;
}

h1#main-title {
  margin-bottom: 0;
}

#sign-in-container {
  justify-content: center;
}

article > p {
  margin-top: 40px;
  margin-bottom: 0px;
}

#sign-in-box {
  height: 300px;
  width: 275px;
  margin-top: 100px;
  background: $transparent-background;
  border-radius: 5px;
  align-items: center;
}

form > input {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
}

form > button {
  border: none;
  border-radius: 5px;
  color: skyblue;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
}

form > button:hover {
  background: gray;
  color: white;
}

button:active {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

.btn {
  background: white;
  opacity: 0.8;
  border-radius: 5%;
}

button, .radio-filter label:hover {
  cursor: pointer;
}

#nav-container {
  background: $transparent-background;
  border-radius: 5px;
  height: 50px;
  margin-top: 5px;
  flex-direction: row-reverse;
}

// Drop down menu for Sign-out
// #user-info-dropdown {
//   background-color: $background-color;
//   color: $primary-color;
//   margin-left: 60%;
//   margin-top: -1.2%;
//   position: relative;
//   text-align: center;
//   z-index: 100;
// }
//
// .dropdown-p {
//   font-size: 1.2vw;
//   font-weight: 300;
//   padding-bottom: 1vw;
//   padding-top: 0;
//   text-align: center;
//   width: 100%;
// }

#nav-box {
  width: 300px;
  align-content: space-between;
  justify-content: space-around;
}

.nav-btn {
  background: none;
  color: black;
  margin: 10px 5px;

}
