/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables';

@mixin aside-small-btns($margin, $padding) {
  margin: $margin;
  padding: $padding;
}
@mixin btn($border, $outline) {
  border: $border;
  outline: $outline;
}
@mixin cardText($margin, $text-align, $font-size, $width) {
  margin: $margin;
  text-align: $text-align;
  font-size: $font-size;
  width: $width;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background:  url(../images/overlook.jpg);
  background-size: cover;
}

.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.flex-column {
  display: flex;
  flex-direction: column !important;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

#sign-in-header {
  text-align: center;
  height: 130px;
}

#sign-in-box > p {
  margin-top: 45px;
}

#login-error {
  font-size: 12px;
  margin-top: 0px;
}

.header {
  background: $transparent-background;
  border-radius: $border-radius;
  height: 100px;
}

header#dashboard-header, #manager-dashboard-header {
  justify-content: space-between;
}

.left-dashboard-header {
  margin-left: 20px;
}


h1.main-title {
  margin-bottom: 0;
}

#sign-in-fine-print {
  font-size: 12px;
}

#sign-in-container {
  justify-content: center;
}

.rooms-card > p {
  margin-top: 27px;
  margin-bottom: 0px;
}

#sign-in-box {
  height: 300px;
  width: 275px;
  margin-top: 100px;
  background: $transparent-background;
  border-radius: $border-radius;
  align-items: center;
}

#sign-in-form-box > label {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

form > button {
  border: none;
  border-radius: $border-radius;
  color: black;
  font-size: 16px;
  margin: 14px;
  padding: 10px 20px;
}

button:hover {
  background: gray;
  color: white;
  @include btn(none, none);
}

button:active {
  border: none;
  outline: none;
}

button.card-btn-book-room:disabled {
  cursor: default;
  outline: none;
  color: white;
  font-weight: bolder;
}

button:disabled {
  color: gray;
  cursor: default;
  outline: none;
}

button {
  @include btn(none, none);
}

.bookedBtn {
  outline: 1px gray solid;
  color: white;
  font-weight: bolder;
  width: 89px;
  border-radius: $border-radius;
  background-color: #1ac7f5;
}

.btn {
  background: white;
  opacity: 0.8;
  border-radius: $border-radius;
}

button, .radio-filter label:hover {
  cursor: pointer;
}

#nav-box {
  width: 300px;
  justify-content: space-around;
  border-bottom: $border-line;
}

#manager-sign-out-nav {
  margin: 7px 20px 7px 40px;
}

.nav-container {
  align-items: flex-end;
}

.nav-btn {
  background: none;
  color: black;
  margin: 10px 5px 7px 10px;

}

#availability-box {
  justify-content: space-around;
  width: 500px
}

aside.filter-container {
  background: $transparent-background;
  margin: 20px;
  height: 190px;
  width: 150px;
  padding: 20px;
  border-radius: $border-radius;
  justify-content: center;
}

.radio-label {
  margin: 5px;
}

#user-reset-btn {
  width: 70px;
  align-self: center;
  @include aside-small-btns(5px, 5px);
}

#manager-filter-container{
  background: $transparent-background;
  margin: 20px;
  height: 238px;
  padding: 20px;
  border-radius: $border-radius;
  justify-content: center;
}

#user-filter {
  flex-wrap: wrap;
}

.cards-container {
  max-height: 700px;
  overflow: scroll !important;
  margin-top: 20px;
}

#user-bookings-title, #user-total-spent {
  padding: 20px;
}

#user-bookings-container {
  align-items: center;
}

.rooms-card {
  margin: 0px 20px 20px 20px;
  background: $transparent-background;
  max-height: 210px;
  min-width: 800px;
  max-width: fit-content;
}

.room-card-photo {
  height: 180px;
  width: 300px;
  object-fit: cover;
  margin: 13px;
}

.room-card-details {
  margin-left: 13px;
  max-width: 400px;
  min-width: 300px;
}

.card-inner-contents {
  padding: 30px 10px 0 0;
  align-items: center;
}

.card-inner-contents > h3 {
  margin-bottom: 0;
}

.primary-details-text {
  margin: 7px 0px;
}

.secondary-details-text {
  margin: 1px 0px;
  font-size: 12px;
}

.room-card-price {
  margin-left: 10px;
  width: 150px;
  border-left: $border-line;
}

.mgr-card-btn {
  padding: 0;
}

.card-btn-book-room {
  padding: 10px;
  border-radius: $border-radius;
}

// shared w Manager and User
.future-bookings-box {
  border-bottom: $border-line;
}

// Manager dashboard

#manager-cal-container {
  align-items: flex-end;
  height: 100px;
}

#manager-cal-container > p {
  font-size: 14px;
  margin: 23px 0 2px 0;
}

#manager-stats-container {
  border-left: $border-line;
  margin: 10px 10px 10px 10px;
  justify-content: space-evenly;
}

.manager-stats {
  font-size: 12px;
  margin: 0 0 5px 10px;
}

#manager-stats-calendar {
  height: 15px;
}

#search-btn-box {
  @include aside-small-btns(12px 0 20px 0, 5px);
  border-bottom: $border-line;
}

.search-btns {
  @include aside-small-btns(12px 0 20px 0, 5px)
  // margin: $aside-small-btns;
}

#mgr-add-booking-btn {
  margin-top: 20px;
}

#manager-booking-form {
  margin-top: 20px;
}

#manager-booking-form > label {
  font-size: 14px;
}

#manager-new-booking-container {
  border: $border-line;
  height: 40vh;
}

#manager-results-container {
  border: $border-line;
  height: 40vh;
}

.manager-rooms-card {
  padding: 10px 20px 10px 20px;
  background: $transparent-background;
  max-height: 20px;
  min-width: 800px;
}

.mgr-room-title {
  width: 200px;
}

.mgr-card-text {
  @include cardText(0 10px, center, 14px, 120px);
}

.mgr-card-small {
  @include cardText(0 10px, center, 14px, 60px);
}

.mgr-card-large {
  @include cardText(0 13px, center, 14px, 130px);
}

.mgr-cards-container {
  max-height: 700px;
  overflow: scroll !important;
}

.manager-rooms-card-header {
  position: sticky;
  text-align: center;
  border: $border-line;
  background: $transparent-background;
  padding: 10px 20px 10px 20px;
}
